.button {
    background-color: #008CBA;
    border-radius: 50%;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
     -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin: 0 auto;
}

.button:hover {
    background-color: #008CBA;
    color: white;
}

.button:active {
 background-color: #008CBA;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

html {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/60/d8/40/60d8402865d33e38726eb91a093b86bb.jpg");
    background-color: #cccccc;
    background-position: center;
    background-size: cover;
    font-size: 68px;

}
.hu{
    text-align: center;
}
.hi{
    text-align: center;
    color: white;
}
.wrapper {
    text-align: center;
}
